/* Body setup */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

/* Main container */
.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

/* Sun */
.sun {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: #ffea00;
    border-radius: 50%;
    box-shadow: 0 0 5em #fff;
}

/* Earth orbit */
.earth {
    position: absolute;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    border: 0.1em solid rgba(91, 118, 238, 0.5);
    border-radius: 50%;
    animation: orbit 36.5s linear infinite;
}

/* Earth */
.earth::before {
    content: '';
    position: absolute;
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: #13f1f1;
    border-radius: 50%;
}

/* Moon orbit */
.moon {
    position: absolute;
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    border: 0.1em solid rgba(192, 192, 192, 0.5);
    border-radius: 50%;
    animation: orbit 2.7s linear infinite;
}

/* Moon */
.moon::before {
    content: '';
    position: absolute;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #c0c0c0;
    border-radius: 50%;
}

/* Orbit animation */
@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}